[Unit]
Description=SKB Stat Celery Beat
After=network.target redis.service

[Service]
User=root
WorkingDirectory=/var/www/skb_stat
EnvironmentFile=/var/www/skb_stat/.env
ExecStart=/var/www/skb_stat/.venv/bin/celery -A conf beat \
    --loglevel=info \
    --logfile=/var/log/skb_stat/celery_beat.log \
    --schedule=/var/www/skb_stat/celerybeat-schedule
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
